# Soal Ujian Module 2 Purwadhika

### 1. Import the libraries (pandas,numpy, matplotlib.pyplot, seaborn, math)

#### Use random.seed(101)

### 2. Load Titanic Dataset from Seaborn and show the .head() of the dataset

### 3. Show the info of the dataframe using .info()

### 4. Describe the dataframe using .describe()

### 5. Make Table like this to describe the dataframe

#### Columns Explanations :
 - __dataFeatures__ = column name
 - __dataType__ = data type of that column
 - __null__ = how many null data in that column/series
 - __nullPct__ = null percentage of total data in that column
 - __unique__ = how many unique data
 - __uniqueSample__ = get some unique sample from each column

#### hint : search .sample(), .drop_duplicates(), .values, .isna(), dtype

### 6. Groupby

_Group By Sex (Mean)_

_Group By Sex (standard deviation)_

_Group By Sex (Minimum value)_

_Group By Sex (Maximum value)_

_Group By Sex (Count)_

_Group By Sex (Describe Transpose)_

### 7. Filter

#### Berapa banyak jumlah datanya kalau datanya cuma class = First dan class = Third ?

#### Berapa mean umur pria dari campuran class First dan Third?

#### lalu munculkan 5 data teratas dari filter tersebut dan cuma kolom sex dan age aja yang muncul

#### Berapa total fare dari penumpang yang second class dan sendirian?

### 8. Missing Values
#### Berapa banyak NaN age data dan mean dari setiap who?
#### Isi data NaN dari kolom age dengan mean dari umur tergantung whonya dia apa (child/woman/man)
#### Kemudian print banyak NaN age data dan mean umur setiap who lagi.

#### Isi NaN embarked dan embark_town dan deck dengan modus masing2 (print modus masing2 juga)

#### Last Print the dataframe info to check if there is still NaN values

### 9. Adding New Features/Columns/Variables

#### Buat DataFrame baru dengan column2 sebagai berikut
 - __id__ = id table ini (PK)
 - __mean_fare__ = Mean Fare
 - __std_fare__ = Std Fare
 - __batas_min_fare__ = Mean Fare - (3 x Std Fare)
 - __batas_max_fare__ = Mean Fare + (3 x Std Fare)
 
#### Dan data2nya ada 3 (fare setiap class yaitu first, second, and third class)

#### Print outlier % of each class

#### Tambahkan column outliercalcId (FK) di dfTitanic

#### Tambahkan column outlier (1 for yes and 0 for no)

### 10. Export both dataFrames to csv (Titanic.csv, TitanicOutCalc.csv)

### 11. Buatlah plot2 dibawah menggunakan seaborn

#### a. Heatmap dari correlation dfTitanic (color=coolwarm, plt.figure(figsize=(10,5))

#### b. buatlah countplot seperti dibawah (style=whitegrid, palette=rainbow)

#### c. buatlah histogram age dibawah (color=darkred,bins=30)

# Goodluck Guys!! Salam Bertasbih!