# Series

In [1]:
import pandas as pd
import numpy as np

In [3]:
ls = [1,2,3,4,5]
ser = pd.Series(ls)

In [4]:
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
ser[4]

5

In [15]:
ser2 = pd.Series(data = ls, index = ['A','B','C','D','E'] )

In [16]:
ser2

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [22]:
ser2['D']

4

## Numpy Array to Series

In [23]:
num_arr = np.array(ls)

In [24]:
pd.Series(num_arr)

0    1
1    2
2    3
3    4
4    5
dtype: int32

## Dictionary to Series

In [25]:
dictionary = {
    'a' : 2,
    'b' : 3,
    'c' : 4
}

In [27]:
pd.Series(dictionary)['b']

3

In [29]:
pd.Series(index = 'jan feb mar apr mei jun jul'.split(' ') , data = '1 2 3 4 5 6 7'.split(' '))

jan    1
feb    2
mar    3
apr    4
mei    5
jun    6
jul    7
dtype: object

## DataFrame

In [30]:
import requests

In [39]:
# import http.client

# conn = http.client.HTTPSConnection("api.rajaongkir.com")

# headers = { 'key': "7fb7484cf3c892ef094339739c535661" }
# conn.request("GET", "/starter/province", headers=headers)

# res = conn.getresponse()
# data = res.read()

# data = data.decode("utf-8")

## Fetch Data From API

In [44]:
data = requests.get('http://www.omdbapi.com/?s=harry&apikey=6a953632').json()

In [54]:
data['Search']

[{'Title': 'Harry Potter and the Deathly Hallows: Part 2',
  'Year': '2011',
  'imdbID': 'tt1201607',
  'Type': 'movie',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BMjIyZGU4YzUtNDkzYi00ZDRhLTljYzctYTMxMDQ4M2E0Y2YxXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_SX300.jpg'},
 {'Title': "Harry Potter and the Sorcerer's Stone",
  'Year': '2001',
  'imdbID': 'tt0241527',
  'Type': 'movie',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BNjQ3NWNlNmQtMTE5ZS00MDdmLTlkZjUtZTBlM2UxMGFiMTU3XkEyXkFqcGdeQXVyNjUwNzk3NDc@._V1_SX300.jpg'},
 {'Title': 'Harry Potter and the Chamber of Secrets',
  'Year': '2002',
  'imdbID': 'tt0295297',
  'Type': 'movie',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BMTcxODgwMDkxNV5BMl5BanBnXkFtZTYwMDk2MDg3._V1_SX300.jpg'},
 {'Title': 'Harry Potter and the Prisoner of Azkaban',
  'Year': '2004',
  'imdbID': 'tt0304141',
  'Type': 'movie',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BMTY4NTIwODg0N15BMl5BanBnXkFtZTcwOTc0MjEzMw@@._V1_SX300.jpg'},
 {'Title': 'Harry Potter and the Goblet of Fire',
  'Year': '2005',
  'imdbID': 'tt0330373',
  'Type': 'movie',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BMTI1NDMyMjExOF5BMl5BanBnXkFtZTcwOTc4MjQzMQ@@._V1_SX300.jpg'},
 {'Title': 'Harry Potter and the Order of the Phoenix',
  'Year': '2007',
  'imdbID': 'tt0373889',
  'Type': 'movie',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BMTM0NTczMTUzOV5BMl5BanBnXkFtZTYwMzIxNTg3._V1_SX300.jpg'},
 {'Title': 'Harry Potter and the Deathly Hallows: Part 1',
  'Year': '2010',
  'imdbID': 'tt0926084',
  'Type': 'movie',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BMTQ2OTE1Mjk0N15BMl5BanBnXkFtZTcwODE3MDAwNA@@._V1_SX300.jpg'},
 {'Title': 'Harry Potter and the Half-Blood Prince',
  'Year': '2009',
  'imdbID': 'tt0417741',
  'Type': 'movie',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BNzU3NDg4NTAyNV5BMl5BanBnXkFtZTcwOTg2ODg1Mg@@._V1_SX300.jpg'},
 {'Title': 'When Harry Met Sally...',
  'Year': '1989',
  'imdbID': 'tt0098635',
  'Type': 'movie',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BMjE0ODEwNjM2NF5BMl5BanBnXkFtZTcwMjU2Mzg3NA@@._V1_SX300.jpg'},
 {'Title': 'Dirty Harry',
  'Year': '1971',
  'imdbID': 'tt0066999',
  'Type': 'movie',
  'Poster': 'https://m.media-amazon.com/images/M/MV5BMzdhMTM2YTItOWU2YS00MTM0LTgyNDYtMDM1OWM3NzkzNTM2XkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_SX300.jpg'}]

## List To Data Frame

In [55]:
ls = [[1,2,3,4],[1,2,3,4]]
pd.DataFrame(data=ls , columns=['A','B','C','D'])

   A  B  C  D
0  1  2  3  4
1  1  2  3  4

## Dictionary To DataFrame

In [56]:
d = {
    'nama' : ['Fikri' , 'Budi'],
    'alamat' : ['Indonesia' , 'Asia']
}
pd.DataFrame(d)

    nama     alamat
0  Fikri  Indonesia
1   Budi       Asia

## List of Dictionary to DataFrame

In [57]:
ld = [
    {'nama' : 'fikri' , 'alamat' : 'indonesia'},
    {'nama' : 'budi' , 'alamat' : 'Asia'}
]
pd.DataFrame(ld)

      alamat   nama
0  indonesia  fikri
1       Asia   budi

In [61]:
dfHarry = pd.DataFrame(data['Search'])

In [62]:
dfHarry

,Poster,Title,Type,Year,imdbID
0,https://m.media-amazon.com/images/M/MV5BMjIyZG...,Harry Potter and the Deathly Hallows: Part 2,movie,2011,tt1201607
1,https://m.media-amazon.com/images/M/MV5BNjQ3NW...,Harry Potter and the Sorcerer's Stone,movie,2001,tt0241527
2,https://m.media-amazon.com/images/M/MV5BMTcxOD...,Harry Potter and the Chamber of Secrets,movie,2002,tt0295297
3,https://m.media-amazon.com/images/M/MV5BMTY4NT...,Harry Potter and the Prisoner of Azkaban,movie,2004,tt0304141
4,https://m.media-amazon.com/images/M/MV5BMTI1ND...,Harry Potter and the Goblet of Fire,movie,2005,tt0330373
5,https://m.media-amazon.com/images/M/MV5BMTM0NT...,Harry Potter and the Order of the Phoenix,movie,2007,tt0373889
6,https://m.media-amazon.com/images/M/MV5BMTQ2OT...,Harry Potter and the Deathly Hallows: Part 1,movie,2010,tt0926084
7,https://m.media-amazon.com/images/M/MV5BNzU3ND...,Harry Potter and the Half-Blood Prince,movie,2009,tt0417741
8,https://m.media-amazon.com/images/M/MV5BMjE0OD...,When Harry Met Sally...,movie,1989,tt0098635
9,https://m.media-amazon.com/images/M/MV5BMzdhMT...,Dirty Harry,movie,1971,tt0066999

## Selection

Row Selection

In [65]:
dfHarry.iloc[0]

Poster    https://m.media-amazon.com/images/M/MV5BMjIyZG...
Title          Harry Potter and the Deathly Hallows: Part 2
Type                                                  movie
Year                                                   2011
imdbID                                            tt1201607
Name: 0, dtype: object

Column Selection

In [68]:
dfHarry[['Title' , 'Type']]

                                          Title   Type
0  Harry Potter and the Deathly Hallows: Part 2  movie
1         Harry Potter and the Sorcerer's Stone  movie
2       Harry Potter and the Chamber of Secrets  movie
3      Harry Potter and the Prisoner of Azkaban  movie
4           Harry Potter and the Goblet of Fire  movie
5     Harry Potter and the Order of the Phoenix  movie
6  Harry Potter and the Deathly Hallows: Part 1  movie
7        Harry Potter and the Half-Blood Prince  movie
8                       When Harry Met Sally...  movie
9                                   Dirty Harry  movie

 Create New Columns

In [75]:
dfHarry['Genre'] = 'Fiction'

In [76]:
dfHarry

,Poster,Title,Type,Year,imdbID,Genre
0,https://m.media-amazon.com/images/M/MV5BMjIyZG...,Harry Potter and the Deathly Hallows: Part 2,movie,2011,tt1201607,Fiction
1,https://m.media-amazon.com/images/M/MV5BNjQ3NW...,Harry Potter and the Sorcerer's Stone,movie,2001,tt0241527,Fiction
2,https://m.media-amazon.com/images/M/MV5BMTcxOD...,Harry Potter and the Chamber of Secrets,movie,2002,tt0295297,Fiction
3,https://m.media-amazon.com/images/M/MV5BMTY4NT...,Harry Potter and the Prisoner of Azkaban,movie,2004,tt0304141,Fiction
4,https://m.media-amazon.com/images/M/MV5BMTI1ND...,Harry Potter and the Goblet of Fire,movie,2005,tt0330373,Fiction
5,https://m.media-amazon.com/images/M/MV5BMTM0NT...,Harry Potter and the Order of the Phoenix,movie,2007,tt0373889,Fiction
6,https://m.media-amazon.com/images/M/MV5BMTQ2OT...,Harry Potter and the Deathly Hallows: Part 1,movie,2010,tt0926084,Fiction
7,https://m.media-amazon.com/images/M/MV5BNzU3ND...,Harry Potter and the Half-Blood Prince,movie,2009,tt0417741,Fiction
8,https://m.media-amazon.com/images/M/MV5BMjE0OD...,When Harry Met Sally...,movie,1989,tt0098635,Fiction
9,https://m.media-amazon.com/images/M/MV5BMzdhMT...,Dirty Harry,movie,1971,tt0066999,Fiction

Delete Data

In [79]:
dfHarry =  dfHarry.drop(0 , axis=0)

In [86]:
# dfHarry.drop('Genre' , axis=1,inplace=True)

In [87]:
dfHarry

,Poster,Title,Type,Year,imdbID
1,https://m.media-amazon.com/images/M/MV5BNjQ3NW...,Harry Potter and the Sorcerer's Stone,movie,2001,tt0241527
2,https://m.media-amazon.com/images/M/MV5BMTcxOD...,Harry Potter and the Chamber of Secrets,movie,2002,tt0295297
3,https://m.media-amazon.com/images/M/MV5BMTY4NT...,Harry Potter and the Prisoner of Azkaban,movie,2004,tt0304141
4,https://m.media-amazon.com/images/M/MV5BMTI1ND...,Harry Potter and the Goblet of Fire,movie,2005,tt0330373
5,https://m.media-amazon.com/images/M/MV5BMTM0NT...,Harry Potter and the Order of the Phoenix,movie,2007,tt0373889
6,https://m.media-amazon.com/images/M/MV5BMTQ2OT...,Harry Potter and the Deathly Hallows: Part 1,movie,2010,tt0926084
7,https://m.media-amazon.com/images/M/MV5BNzU3ND...,Harry Potter and the Half-Blood Prince,movie,2009,tt0417741
8,https://m.media-amazon.com/images/M/MV5BMjE0OD...,When Harry Met Sally...,movie,1989,tt0098635
9,https://m.media-amazon.com/images/M/MV5BMzdhMT...,Dirty Harry,movie,1971,tt0066999

In [94]:
dfHarry.loc[[2,3],['Poster' , 'Title']]

,Poster,Title
2,https://m.media-amazon.com/images/M/MV5BMTcxOD...,Harry Potter and the Chamber of Secrets
3,https://m.media-amazon.com/images/M/MV5BMTY4NT...,Harry Potter and the Prisoner of Azkaban

In [89]:
dfHarry.loc[2]

Poster    https://m.media-amazon.com/images/M/MV5BMTcxOD...
Title               Harry Potter and the Chamber of Secrets
Type                                                  movie
Year                                                   2002
imdbID                                            tt0295297
Name: 2, dtype: object

In [100]:
dfHarry.iloc[[2,3]][['Year' , 'Title']]

   Year                                     Title
3  2004  Harry Potter and the Prisoner of Azkaban
4  2005       Harry Potter and the Goblet of Fire

## Conditional Selection

In [101]:
import seaborn as sns

In [102]:
dfTitanic = sns.load_dataset('titanic')

In [106]:
dfTitanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [110]:
len(dfTitanic[dfTitanic['pclass'] == 3])

491

In [114]:
len(dfTitanic[(dfTitanic['sex'] == 'female') & (dfTitanic['survived'] == 1)])

233

In [115]:
len(dfTitanic[(dfTitanic['sex'] == 'male') & (dfTitanic['survived'] == 1)])

109

In [118]:
len(dfTitanic[(dfTitanic['pclass'] == 1) | (dfTitanic['pclass'] == 2)])

400

In [120]:
len(dfTitanic[(dfTitanic['pclass'] == 1) & (dfTitanic['survived'] == 0)])

80