In [1]:
import pandas as pd

In [2]:
from seaborn import load_dataset

In [3]:
data = load_dataset('titanic')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [5]:
std = data['fare'].std()

In [6]:
lower_limit = data['fare'].mean()  - (3 * std)

In [7]:
lower_limit

-116.87607782296811

In [8]:
upper_limit = data['fare'].mean()  + (3 * std)

In [9]:
upper_limit

181.2844937601173

In [10]:
len(data[(data['fare'] < lower_limit) | (data['fare'] > upper_limit)])

20

In [11]:
def detect_outlier(col):
    std = data[col].std()
    lower_limit = data[col].mean()  - (3 * std)
    upper_limit = data[col].mean()  + (3 * std)
    return len(data[(data[col] < lower_limit) | (data[col] > upper_limit)])

In [12]:
detect_outlier('fare')

20

In [13]:
def detect_outlier_return_index(col):
    std = data[col].std()
    lower_limit = data[col].mean()  - (3 * std)
    upper_limit = data[col].mean()  + (3 * std)
    return list(data[(data[col] < lower_limit) | (data[col] > upper_limit)].index)

In [14]:
id_outlier = detect_outlier_return_index('fare')

In [15]:
data['fare'].mean()

32.2042079685746

In [16]:
def applyFareOutlier(x):
    if x['index'] in id_outlier:
        return data['fare'].mean()
    else :
        return x['fare']

In [17]:
data['index'] = data.index

In [18]:
data['fare'] = data[['index' , 'fare']].apply(applyFareOutlier , axis=1)

In [21]:
id_outlier_age = detect_outlier_return_index('age')
id_outlier_age

[630, 851]

In [24]:
data['age'].mean()

29.69911764705882

In [23]:
data[data['index'] == 851]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,index
851,0,3,male,74.0,0,0,7.775,S,Third,man,True,NaN,Southampton,no,True,851

In [20]:
# data = data.drop(id_outlier_age,axis=0)

In [29]:
dfListing = pd.read_csv('listings.csv')

In [31]:
dfListing.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2818,Quiet Garden View Room & Super Fast WiFi,3159,Daniel,NaN,Oostelijk Havengebied - Indische Buurt,52.36575,4.94142,Private room,59,3,262,2019-06-28,2.09,1,107
1,20168,Studio with private bathroom in the centre 1,59484,Alexander,NaN,Centrum-Oost,52.36509,4.89354,Private room,80,1,279,2019-07-08,2.45,2,140
2,25428,Lovely apt in City Centre (w.lift) near Jordaan,56142,Joan,NaN,Centrum-West,52.37297,4.88339,Entire home/apt,125,14,3,2019-05-11,0.17,2,106
3,27886,"Romantic, stylish B&B houseboat in canal district",97647,Flip,NaN,Centrum-West,52.38673,4.89208,Private room,150,2,195,2019-07-01,2.14,1,74
4,28871,Comfortable double room,124245,Edwin,NaN,Centrum-West,52.36719,4.89092,Private room,75,2,277,2019-07-02,2.56,3,138

In [32]:
dfListing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20337 entries, 0 to 20336
Data columns (total 16 columns):
id                                20337 non-null int64
name                              20302 non-null object
host_id                           20337 non-null int64
host_name                         20313 non-null object
neighbourhood_group               0 non-null float64
neighbourhood                     20337 non-null object
latitude                          20337 non-null float64
longitude                         20337 non-null float64
room_type                         20337 non-null object
price                             20337 non-null int64
minimum_nights                    20337 non-null int64
number_of_reviews                 20337 non-null int64
last_review                       17797 non-null object
reviews_per_month                 17797 non-null float64
calculated_host_listings_count    20337 non-null int64
availability_365                  20337 non-null int64
dtypes: float64(4), int64(7), object(5)
memory usage: 2.5+ MB

In [35]:
q3 = dfListing['price'].quantile(0.75)

In [36]:
q1 = dfListing['price'].quantile(0.25)

In [37]:
iqr = q3 - q1

In [39]:
lower_limit = q1 - (1.5 * iqr)

In [40]:
upper_limit = q3 + (1.5 * iqr)

In [53]:
# list(dfListing[(dfListing['price'] < lower_limit) | (dfListing['price'] > upper_limit)]['id'])

In [57]:
def outlier_detect_with_iqr(col):
    q1 = col.quantile(0.25)
    q3 = col.quantile(0.75)
    iqr = q3 - q1
    lower_limit = q1 - (1.5 * iqr)
    upper_limit = q3 + (1.5 * iqr)
    return list(dfListing[(col < lower_limit) | (col > upper_limit)]['id'])

In [58]:
outlier_detect_with_iqr(dfListing['price'])[0:5]

[48076, 62801, 64769, 213371, 245927]