# Data Melbourne Housing Market

## Import data

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('Melbourne_housing_FULL.csv')

In [3]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
Suburb           34857 non-null object
Address          34857 non-null object
Rooms            34857 non-null int64
Type             34857 non-null object
Price            27247 non-null float64
Method           34857 non-null object
SellerG          34857 non-null object
Date             34857 non-null object
Distance         34856 non-null float64
Postcode         34856 non-null float64
Bedroom2         26640 non-null float64
Bathroom         26631 non-null float64
Car              26129 non-null float64
Landsize         23047 non-null float64
BuildingArea     13742 non-null float64
YearBuilt        15551 non-null float64
CouncilArea      34854 non-null object
Lattitude        26881 non-null float64
Longtitude       26881 non-null float64
Regionname       34854 non-null object
Propertycount    34854 non-null float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

## Cek Persentase Missing Value tiap Kolom dan Hubungan Korelasi

In [5]:
total = data.isnull().sum().sort_values(ascending=False)
percent = ((data.isnull().sum()/data.isnull().count())*100).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head()

              Total    Percent
BuildingArea  21115  60.576068
YearBuilt     19306  55.386293
Landsize      11810  33.881286
Car            8728  25.039447
Bathroom       8226  23.599277

In [6]:
data.corr()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
Rooms,1.000000,0.465238,0.271511,0.085890,0.946755,0.611826,0.393878,0.037402,0.156229,-0.012749,0.004872,0.103235,-0.071677
Price,0.465238,1.000000,-0.211384,0.044950,0.430275,0.429878,0.201803,0.032748,0.100754,-0.333306,-0.215607,0.197874,-0.059017
Distance,0.271511,-0.211384,1.000000,0.481566,0.269524,0.126201,0.241835,0.060862,0.076301,0.323059,-0.100417,0.200946,-0.018140
Postcode,0.085890,0.044950,0.481566,1.000000,0.089292,0.120080,0.067886,0.040664,0.042437,0.089805,-0.231027,0.362895,0.017108
Bedroom2,0.946755,0.430275,0.269524,0.089292,1.000000,0.614892,0.388491,0.037019,0.154157,-0.002022,0.003447,0.106164,-0.053451
Bathroom,0.611826,0.429878,0.126201,0.120080,0.614892,1.000000,0.307518,0.036333,0.147558,0.167955,-0.059183,0.106531,-0.032887
Car,0.393878,0.201803,0.241835,0.067886,0.388491,0.307518,1.000000,0.037829,0.104373,0.128702,-0.009020,0.047213,-0.009617
Landsize,0.037402,0.032748,0.060862,0.040664,0.037019,0.036333,0.037829,1.000000,0.354530,0.044474,0.025318,-0.002582,-0.018195
BuildingArea,0.156229,0.100754,0.076301,0.042437,0.154157,0.147558,0.104373,0.354530,1.000000,0.067811,0.017155,-0.002143,-0.024523
YearBuilt,-0.012749,-0.333306,0.323059,0.089805,-0.002022,0.167955,0.128702,0.044474,0.067811,1.000000,0.091592,-0.022175,0.022420
Lattitude,0.004872,-0.215607,-0.100417,-0.231027,0.003447,-0.059183,-0.009020,0.025318,0.017155,0.091592,1.000000,-0.345589,0.011112
Longtitude,0.103235,0.197874,0.200946,0.362895,0.106164,0.106531,0.047213,-0.002582,-0.002143,-0.022175,-0.345589,1.000000,0.016326
Propertycount,-0.071677,-0.059017,-0.018140,0.017108,-0.053451,-0.032887,-0.009617,-0.018195,-0.024523,0.022420,0.011112,0.016326,1.000000

## Data Pre-Processing
* Drop kolom Yearbuilt dan row Property Count
* Landsize diisi berdasarkan Type dan Room
* BuildingArea diisi berdasarkan Landsize dan Type
* Bathroom diisi berdasarkan Room dan BuildingArea
* Car diisi berdasarkan distance dan Type
* Bedroom2 berdasarkan Rooms dan Type
* Longitude dan Latitude diisi berdasarkan Subburb
* Price diisi berdasarkan ....

### Drop kolom yearbuilt dan row property count

In [7]:
data.drop(columns='YearBuilt', inplace=True)
data.dropna(subset=['Propertycount'],inplace=True)

### Mengisi Landsize berdasarkan Type dan Room

In [8]:
def applyLandsize (x):
    if np.isnan(x['Landsize']):
        return round(data.groupby(['Type','Rooms']).mean()['Landsize'].loc[x['Type']].loc[x['Rooms']])
    else:
        return x['Landsize']

In [ ]:
data['Landsize']=data[['Landsize','Type','Rooms']].apply(applyLandsize, axis=1)

In [ ]:
data.dropna(subset=['Landsize'],inplace=True)

### Mengisi BuildingArea berdasarkan Landsize dan Type

In [ ]:
# landsize_buildArea_notnull = data[(data['Landsize'].notnull()) & (data['BuildingArea'].notnull())]['Landsize']
landsize_buildArea_notnull = data[data['BuildingArea'].notnull()]['Landsize']

In [ ]:
def applyBuildingArea(x):
    buildArea_notnull = data[(data['Type']==x['Type']) & (data['BuildingArea'].notnull())]['Landsize']
    if pd.notnull(x['BuildingArea']):
        return x['BuildingArea']
    else:
        idx = np.argmin(np.abs(buildArea_notnull-x['Landsize']))
        return round(data.groupby(['Landsize','Type']).mean()['BuildingArea'].loc[data['Landsize'][idx]].loc[x['Type']])

In [ ]:
data['BuildingArea'] = data[['Type', 'Landsize', 'BuildingArea']].apply(applyBuildingArea,axis=1)

### Mengisi Bathroom berdasarkan Room dan BuildingArea

In [ ]:
def applyBathroom(x):
    bathroom_notnull = data[(data['Rooms']==x['Rooms']) & (data['Bathroom'].notnull())]['BuildingArea']
    if pd.notnull(x['Bathroom']):
        return x['Bathroom']
    else :
        idx = np.argmin(np.abs(bathroom_notnull-x['BuildingArea']))
        return round(data.groupby(['BuildingArea','Rooms']).mean()['Bathroom'].loc[data['BuildingArea'][idx]].loc[x['Rooms']])

In [ ]:
data['Bathroom'] = data[['Rooms','Bathroom','BuildingArea']].apply(applyBathroom,axis=1)

### Mengisi Car berdasarkan Distance and Type

In [ ]:
def applyCar(x):
    car_notnull = data[(data['Type']==x['Type']) & (data['Car'].notnull())]['Distance']
    if pd.notnull(x['Car']):
        return x['Car']
    else:
        idx = np.argmin(np.abs(car_notnull-x['Distance']))
        return round(data.groupby(['Distance','Type']).mean()['Car'].loc[data['Distance'][idx]].loc[x['Type']])

In [ ]:
data['Car'] = data.apply(applyCar,axis=1)

### Mengisi Bedroom2 berdasarkan Rooms dan Type

In [ ]:
data.groupby(['Rooms','Type']).mean().head()

In [ ]:
def applyBedroom2(x):
    if pd.notnull(x['Bedroom2']):
        return x['Bedroom2']
    else:
        return round(data.groupby(['Rooms','Type']).mean()['Bedroom2'].loc[x['Rooms']].loc[x['Type']])

In [ ]:
data['Bedroom2']=data.apply(applyBedroom2,axis=1)

### Mengisi Longitude berdasarkan Suburb

In [ ]:
def applyLongitude(x):
    if pd.notnull(x['Longtitude']):
        return x['Longtitude']
    else:
        return data.groupby('Suburb').mean()['Longtitude'].loc[x['Suburb']]

In [ ]:
data['Longtitude']=data.apply(applyLongitude,axis=1)