In [1]:
import pandas as pd
df = pd.read_csv('startup_funding.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3009 entries, 0 to 3008
Data columns (total 10 columns):
Sr No                      3009 non-null int64
Date ddmmyyyy              3009 non-null object
Startup Name               3009 non-null object
Industry Vertical          2838 non-null object
SubVertical                2073 non-null object
City  Location             2829 non-null object
Investorsxe2x80x99 Name    2986 non-null object
InvestmentnType            3006 non-null object
Amount in USD              2049 non-null object
Remarks                    419 non-null object
dtypes: int64(1), object(9)
memory usage: 235.2+ KB

### Buat DataFrame yang mendeskripsikan Tiap Tiap kolom dari data Startup Funding

,dataFeatures,dataType,null,nullPct,unique,uniqueSample
0,Sr No,int64,0,0.00,3009,"[190, 1163]"
1,Date ddmmyyyy,object,0,0.00,1013,"[01/9/2016, 02/02/2015]"
2,Startup Name,object,0,0.00,2439,"[Chai Point, Policy Bazaar]"
3,Industry Vertical,object,171,5.68,811,"[Entertainment, Online Student & Campus Social..."
4,SubVertical,object,936,31.11,1912,"[Door Step Delivery platform, Online Pet Care ..."
5,City Location,object,180,5.98,109,"[New York/ India, Palo Alto]"
6,Investorsxe2x80x99 Name,object,23,0.76,2385,"[Vy Capital, SAIF Partners, Accel Partner, Bes..."
7,InvestmentnType,object,3,0.10,50,"[Series E, Bridge Round]"
8,Amount in USD,object,960,31.90,500,"[25,000,0000, 260,000,000]"
9,Remarks,object,2590,86.08,72,"[Series D, Series C]"

### Hapus Kolom Remarks

### Hapus data yang kolom Industry Vertical dan Subverticalnya Kosong

### Hapus data yang Investorsxe2x80x99 Name atau InvestmentnType kosong atau City Location nya Kosong atau amount in usd nya kosong

### Ubah Nama Kolom Investorsxe2x80x99 Name menjadi Investor

### Isi Kolom Subvertical yang kosong dengan kolom Industry Verticalnya

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1893 entries, 0 to 2837
Data columns (total 9 columns):
Sr No                1893 non-null int64
Date ddmmyyyy        1893 non-null object
Startup Name         1893 non-null object
Industry Vertical    1893 non-null object
SubVertical          1893 non-null object
City  Location       1893 non-null object
Investor             1893 non-null object
InvestmentnType      1893 non-null object
Amount in USD        1893 non-null object
dtypes: int64(1), object(8)
memory usage: 147.9+ KB

### Hapus data dengan kolom Amount in USD Mengandung Alphabet

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1877 entries, 0 to 2837
Data columns (total 9 columns):
Sr No                1877 non-null int64
Date ddmmyyyy        1877 non-null object
Startup Name         1877 non-null object
Industry Vertical    1877 non-null object
SubVertical          1877 non-null object
City  Location       1877 non-null object
Investor             1877 non-null object
InvestmentnType      1877 non-null object
Amount in USD        1877 non-null object
dtypes: int64(1), object(8)
memory usage: 146.6+ KB

### Ubah type data kolom Amount in USD Menjadi int64 , ubah dulu semua koma di data menjadi string kosong dan ubah juga selain angka menjadi string kosong

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1877 entries, 0 to 2837
Data columns (total 9 columns):
Sr No                1877 non-null int64
Date ddmmyyyy        1877 non-null object
Startup Name         1877 non-null object
Industry Vertical    1877 non-null object
SubVertical          1877 non-null object
City  Location       1877 non-null object
Investor             1877 non-null object
InvestmentnType      1877 non-null object
Amount in USD        1877 non-null float64
dtypes: float64(1), int64(1), object(7)
memory usage: 146.6+ KB

### Cari Lima Startup Yang Mendapat Pendanaan Paling Banyak

Lima Startup dengan Pendanaan Paling Banyak

Rapido Bike Taxi
Flipkart
Paytm
Flipkart
Flipkart.com

### Cari Lima Investor Yang mengeluarkan uang paling banyak

Lima Investor dengan Pengeluaran Paling Banyak

Westbridge Capital
Softbank
SoftBank Group
Microsoft, eBay, Tencent Holdings
Steadview Capital and existing investors

### Cari lima industri Vertical dengan Pendanaan Paling Banyak

Lima Industri Vertical dengan Pendanaan Paling Banyak

Consumer Internet
eCommerce
Transportation
Technology
ECommerce