In [1]:
import pandas as pd
import seaborn as sns

#### load dataset tips from Seaborn

In [2]:
df = sns.load_dataset('tips')

#### print dataset info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

#### Print dataset Describe

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

####  lelaki yang merokok  VS  Perempuan yang merokok

Lelaki Yang Merokok 157
Perempuan Yang Merokok 87

####  mean tip dari lelaki yang merokok vs mean tip dari lelaki yang tidak merokok

Avg tip Lelaki yang merokok  3.0511666666666666
Avg tip Lelaki yang tidak merokok  3.11340206185567

####  mean tip dari perempuan vs mean tip dari lelaki

Avg tip Lelaki  3.0896178343949052
Avg tip Perempuan  2.833448275862069

#### Buatlah dataFrame seperti dibawah?

   hari  totalPengunjung  totalPemberiTip  percPemberiTip  meanTip
0   Sun              216               76            35.0        3
1   Sat              219               87            40.0        3
2  Thur              152               62            41.0        3
3   Fri               40               19            48.0        3

#### Buatlah DataFrame Seperti dibawah ini

    waktu  totalPengunjung  totalPemberiTip  percPemberiTip  meanTip
0  Dinner              463              176            38.0        3
1   Lunch              164               68            41.0        3

### Ubah Kolom kategorical menjadi Numeric

   total_bill   tip sex smoker day time  size
0       16.99  1.01   0      0   0    0     2
1       10.34  1.66   1      0   0    0     3
2       21.01  3.50   1      0   0    0     3
3       23.68  3.31   1      0   0    0     2
4       24.59  3.61   0      0   0    0     4